# Global Values
repoUrl: 'https://github.com/malikdraz/argocd-gitops-charts.git'
targetRevision: HEAD
region: ''
account: ''
clusterName: ''
destinationServer: ''
argoNamespace: ''
argoProject: ''

# AWS Load Balancer Controller Values
awsLoadBalancerController:
  enable: false
  createNamespace: true
  serviceAccountName:
  podDisruptionBudget:
    maxUnavailable: 1
  respectIgnoreDifferences: true
  ignoreDifferences:
  - group: ""
    kind: "Secret"
    jsonPointers:
    - /data
  - group: "admissionregistration.k8s.io"
    kind: "MutatingWebhookConfiguration"
    jqPathExpressions:
    - '.webhooks[]?.clientConfig.caBundle'
  - group: "admissionregistration.k8s.io"
    kind: "ValidatingWebhookConfiguration"
    jqPathExpressions:
    - '.webhooks[]?.clientConfig.caBundle'

# Metrics Server for Kubernetes Cluster
metricsServer:
  enable: false

# Karpenter for Amazon EKS cluster
karpenter:
  enable: false
  createNamespace: true
  serviceAccountName:
  controllerClusterEndpoint:
  awsDefaultInstanceProfile:
  interruptionQueueName: