# Global Values
repoUrl: 'https://github.com/malikdraz/argocd-gitops-charts.git'
targetRevision: HEAD
region: ''
account: ''
clusterName: ''
destinationServer: ''
argoNamespace: ''
argoProject: ''

# AWS Load Balancer Controller Values
awsLoadBalancerController:
  enable: false
  createNamespace: true
  serviceAccountName:
  podDisruptionBudget:
    maxUnavailable: 1
  respectIgnoreDifferences: true
  ignoreDifferences:
  - group: ""
    kind: "Secret"
    jsonPointers:
    - /data
  - group: "admissionregistration.k8s.io"
    kind: "MutatingWebhookConfiguration"
    jqPathExpressions:
    - '.webhooks[]?.clientConfig.caBundle'
  - group: "admissionregistration.k8s.io"
    kind: "ValidatingWebhookConfiguration"
    jqPathExpressions:
    - '.webhooks[]?.clientConfig.caBundle'

# Metrics Server for Kubernetes Cluster
metricsServer:
  enable: false

# Karpenter for Amazon EKS cluster
karpenter:
  enable: false
  createNamespace: true
  serviceAccountName:
  controllerClusterEndpoint:
  awsDefaultInstanceProfile:
  interruptionQueueName:

# AWS FluentBit for Logging with CloudWatch
awsForFluentBit:
  enable: false
  createNamespace: true
  logGroupName:
  serviceAccountName:
  kinesis:
    enable: false
  firehose:
    enable: false
  elasticsearch:
    enable: false

# Keda for scaling activity
keda:
  enable: false
  createNamespace: true
  serviceAccountName:

# External DNS operator for managing AWS provider DNS records
externalDns:
  enable: false
  createNamespace: true
  serviceAccountName:
  zoneIdFilter:

# External Secrets Operator for managing external secrets
externalSecrets:
  enable: false
  createNamespace: true

# Prometheus configuration with integration to AWS managed prometheus service
prometheus:
  enable: false
  createNamespace: true
  serviceAccountName:
  roleArn:
  ampWorkspaceUrl:

# AWS EFS CSI driver for Volume that needs regional support - compatability with Amazon EFS filesystem
awsEfsCsiDriver:
  enable: false
  serviceAccountName:
